@font-face {
    font-family: 'starfleet';
    src: url('ContextUltraCondensedSSiUltraCondensed.woff2') format('woff2'),
        url('ContextUltraCondensedSSiUltraCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}