body {
    margin: 0;
    font-family: Verdana
}

#item {
    top: 0px;
    left: 250px;
    width: 500px;
    position: absolute;
    line-height: 125%;
}

* {
    box-sizing: border-box;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    background-color: #4CAF50;
    font-size: 16px;
    color: white;
    border: 2px solid #ccc;
    text-decoration: none;
    border-radius: 4px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    width: 250px;
}

.options {
    width: 300px;
    height: auto;
    right: 10px;
    top: 50px;
    position: fixed;
    border: 1px solid #000000;
    z-index: 99;
    background-color: #FFFFFF;
}

.hide {
    background-color: #4CAF50;
    font-size: 16px;
    color: white;
    border: 2px solid #ccc;
    text-decoration: none;
    border-radius: 4px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    z-index: 99;
    position: fixed;
    width: 300px;
    top: 10px;
    right: 10px;
}

/* Style the side navigation */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    z-index: 99;
}

/* Side navigation links */
.sidenav p {
    color: white;
    text-decoration: none;
    padding: 16px;
    z-index: 100;
    width: 200px;
    height: 50px;
}

/* Change color on hover */
.sidenav p:hover {
    background-color: #ddd;
    color: black;
    z-index: 100;
    padding: 16px;
    width: 300px;
    height: 50px;
    cursor: pointer;
}

.table {
    position: relative;
}

table.blueTable {
    background-color: #EEEEEE;
    text-align: left;
    border-collapse: collapse;
    margin-left: 250px;
    margin-top: 15px;
    margin-bottom: 100px;
    overflow: scroll;
}

.hovered {
    padding: 3px 25px 3px 0;
    text-align: left;
    font-size: 13px;
    background-color: #ff9900;
}

.clicked {
    padding: 3px 25px 3px 0;
    text-align: left;
    font-size: 13px;
    background-color: #7a78f0;
}

.status {
    left: 300px;
    top: 25px;
    position: fixed
}

table.blueTable td,
table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 25px 3px 0;
    white-space: nowrap;
}

table.blueTable tbody td {
    padding: 3px 25px 3px 0;
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
}

table.blueTable tr:nth-child(even) {
    background: #ffedcc;
}

table.blueTable thead {
    background: #8282FF;
    border-bottom: 2px solid #444444;
}

table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

table.blueTable thead th:first-child {
    border-left: none;
}

input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    display: inline;
}

button {
    background-color: #4CAF50;
    font-size: 16px;
    color: white;
    border: 2px solid #ccc;
    text-decoration: none;
    border-radius: 4px;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
}

.styled-select {
    margin-left: 10px;
    margin-top: 15px;
    background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    height: 29px;
    overflow: hidden;
    width: 268px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
}

.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.blue select {
    color: #fff;
}

.blue {
    background-color: #4CAF50;
}