.bg-p {
    background-color: #FF96B1;
}

.bg-r {
    background-color: #ED9493;
}

.bg-o {
    background-color: #FFA78C;
}

.bg-y {
    background-color: #FFD78C;
}

.bg-g {
    background-color: #99CA9B;
}

.bg-b {
    background-color: #8DABE0;
}

.bg-i {
    background-color: #959BCE;
}

.bg-v {
    background-color: #AF9DD6;
}