table.calendar {
    z-index: 99;
    background-color: #EEEEEE;
    text-align: left;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 100px;
    overflow: scroll;
}
table.calendar td,
table.calendar th {
    z-index: 99;
    border: 1px solid #AAAAAA;
    padding: 3px 0px 3px 0;
    white-space: nowrap;
    text-align: center;
    width: 75px;
}
table.calendar caption {
    background-color: #EEEEEE;
    z-index: 99;
    border: 1px solid #AAAAAA;
    padding: 3px 0px 3px 0;
    white-space: nowrap;
    text-align: center;
    width: auto;
}

table.calendar tbody td {
    height: 50px;
    z-index: 99;
    padding: 3px 25px 3px 0;
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
}

table.calendar tbody td:hover {
    height: 50px;
    z-index: 99;
    padding: 3px 25px 3px 0;
    text-align: left;
    font-size: 13px;
    white-space: nowrap;
    background-color: #ff9900;
}

table.calendar tr:nth-child(even) {
    z-index: 99;
    background: #ffedcc;
}

table.calendar thead {
    z-index: 99;
    background: #8282FF;
    border-bottom: 2px solid #444444;
}

table.calendar thead th {
    z-index: 99;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
}

table.calendar thead th:first-child {
    z-index: 99;
    border-left: none;
}